{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.scss",
      "options": { "singleQuote": false }
    }
  ]
}
