.nav {
  display: flex;
  justify-content: left;
}

.nav__link {
  display: flex;
  align-items: flex-start;
  padding: 10px 0;
}

.nav__title {
  color: #cc5906;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.nav__logo {
  width: 50px;
  margin-right: 20px;
}
