html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  color: $black;
  font-family: $main-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 24px;
  line-height: 1.25;
}

pre {
  overflow-x: auto;
  font-size: 16px;
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(204, 89, 6);
  background-color: #252525;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 15px 0 15px 0;
}
