html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}

body {
  background-color: $white;
  color: $black;
  font-family: $main-font;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
