/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$sm: 320px;
$md: 768px;
$xl: 1280px;

// Цвета
$black: #000;
$white: #fff;
$grey: #C6C6C6;
$blackblue: #191046;

// Шрифты
$main-font: "Roboto", "Arial", sans-serif;
